body {
  background-color: #70C1B3;
}

#sentence-returned {
  padding-top: 30px;
  font-size: 2em;
}

/* CLASS ADDED BY JAVASCRIPT ON SUBMIT */

.shout-styling {
  background-color: #F25F5C;
  color: #FFF;
}




/* Color Palette 
70C1B3 Green sheen
247BA0 CG blue
FFE066 Naples yellow
F25F5C Orange-red(crayola)
50514F Davy's grey */